nav{
    padding: 32px 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: rgb(44, 123, 179);
}

a{
    color: white;
    
    text-decoration: none;
}

.selected {
    text-decoration: underline;
    color:white;
  }