.scroll{
  max-height: 90vh; 
  overflow: scroll
}
.list-group-item > img{
  width: 50px
}

.Navbar{
  font-size: 30px;
  padding-left: 30px;
}

.list-group>a{
  text-decoration: none;
}

.table a{
  text-decoration: none;
}